body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #16343b;
  /*background-image: url('../images/bg.png');*/
  background-image: url('../images/bg.png'), url('../images/bg_tile.png');
  background-repeat: repeat-x, repeat;
}

strong {
  font-weight: 700;
}




header {
  height: 40px;
  background-image: url('../images/menu_bg_off.png');
  margin-bottom: 30px;
  box-shadow: 0 0 10px #333;
}

header #logo {
  float: right;
  color: #eee;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0 2px 0 #000;
  margin: 7px 10px 0 0;
}




#menu li {
  display: block;
  float: left;
}

#menu li a {
  display: block;
  height: 25px;
  padding: 13px 15px 0 15px;
  border-bottom: 2px solid transparent;
  border-right: 1px solid #222;
  border-left: 1px solid #444;
  color: #ddd;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
}

#menu li a:hover, #menu li a.active {
  background-image: url('../images/menu_bg_on.png');
}

#menu-overview:hover, #menu-overview.active {
  border-bottom-color: #000;
}

#menu-projects:hover, #menu-projects.active {
  border-bottom-color: #448171;
}

#menu-explore:hover, #menu-explore.active {
  border-bottom-color: #dde470;
}

#menu-about:hover, #menu-about.active {
  border-bottom-color: #bd5a5a;
}




#content {
  padding: 20px;
}



a, a:visited {
  color: #3d8ba5;
}

a:hover {
  text-decoration: none;
}




h1, h2, h3 {
  color: #333;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 50px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 15px;
  font-weight: 600;
  color: #444;
  line-height: 21px;
  margin-bottom: 13px;
}

h4 {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin: 15px 0 0 0;
}

p {
  margin: 20px 0 10px 0;
  color: #333;
}

li, td {
  font-size: 13px;
  line-height: 20px;
  color: #737373;
}



.box {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 3px #999;
  border-radius: 4px;
}

.right-column {
  float: right;
  width: 300px;
  clear: right;
}


.left-side {
  margin-right: 320px;
}



.pills {
  float: right;
}

.pills li {
  display: inline;
}

.pills li a {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 12px;
  text-decoration: none;
}

.pills li a:hover {
  background-color: #ddd;
}

.pills li a.active {
  background-color: #3d8ba5;
  color: #fff;
}




.left-side table {
  width: 100%;
}

.left-side table th, .left-side table td {
  padding: 5px;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  color: #737373;
}

.left-side table th {
  font-weight: 700;
  border-bottom: 1px solid #999;
  color: #555;
}

.left-side table td {
  border-bottom: 1px solid #eee;
}

.left-side table td.count, .left-side table th.count {
  text-align: right;
}

.left-side table th.count {
  padding-right: 20px;
}

.left-side table td .number {
  display: inline-block;
  width: 60px;
}






#license-graph li {
  display: block;
  margin-bottom: 4px;
  clear: left;
}

#license-graph .license {
  background-color: #3d8ba5;
  float: left;
  margin-bottom: 4px;
}

#license-graph .title {
  float: left;
  color: #737373;
  font-size: 11px;
  padding-left: 6px;
}

hr {
  border: 1px solid #fff;
}

.note {
  padding-top: 10px;
  font-size: 11px;
  line-height: 14px;
  color: #bbb;
}

#github-link {
  margin: -30px auto 30px auto;
  background-color: #fff;
  width: 150px;
  text-align: center;
  font-size: 13px;
  padding: 6px 0;
  border: 1px solid #ddd;
}

#github-link a {
  text-decoration: none;
}

#github-link a:hover {
  text-decoration: underline;
}


















#filter {
  margin-bottom: 20px;
}



#frame {
  border-width: 35px;
  -webkit-border-image: url('../images/frame.png') 35 35 35 35 stretch;
  box-shadow: 0 0 10px #333;
}


.graph-container {
  height: 300px;
}



.axis path, .axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #999;
  font-size: 10px;
}



path.featured-stroke, path.compare-stroke {
  stroke-width: 1;
  fill: none;
}

path.featured-stroke {
  stroke: #3d8ba5;
}

path.compare-stroke {
  stroke: #d9d9d9;
}

path.featured-fill, path.compare-fill {
  fill-opacity: 0.1;
}

path.featured-fill {
  fill: #3d8ba5;
}

path.compare-fill {
  fill: #ddd;
}




circle {
  fill: #fff;
  stroke: #3d8ba5;
  stroke-width: 1;
}

circle:hover {
  stroke-width: 2px;
  cursor: pointer;
}
