{% extends 'base.html' %}
{% load static_assets %}
{% load humanize %}


{% block content %}

  <h1>PyCheckup is an analysis of the top <strong>python</strong> projects on Github</h1>


  <div class="right-column">

    <div class="right-side box">
      <h3>Average Popularity</h3>
      <table width="100%">
        <tr>
          <td width="45%"><a href="/explore/watchers">Watchers</a>:</td>
          <td>{{ popularity.watchers.avg|floatformat:"1" }}</td>
        </tr>
        <tr>
          <td><a href="/explore/issues">Issues</a>:</td>
          <td>{{ popularity.issues.avg|floatformat:"1" }}</td>
        </tr>
        <tr>
          <td><a href="/explore/forks">Forks</a>:</td>
          <td>{{ popularity.forks.avg|floatformat:"1" }}</td>
        </tr>
        <tr>
          <td><a href="/explore/collaborators">Collaborators</a>:</td>
          <td>{{ popularity.collaborators.avg|floatformat:"1" }}</td>
        </tr>
      </table>
    </div>


    <div class="right-side box">
      <h3>Features</h3>
      <table width="100%">
        <tr>
          <td width="45%">Readme:</td>
          <td>{{ features.readme.percent|floatformat:"1" }}%</td>
        </tr>
        <tr>
          <td>setup.py:</td>
          <td>{{ features.setup_py.percent|floatformat:"1" }}%</td>
        </tr>
        <tr>
          <td>Tabs:</td>
          <td>
            {{ features.tabs_spaces.percent_tabs|floatformat:"1" }}%
          </td>
        </tr>
        <tr>
          <td>Spaces:</td>
          <td>
            {{ features.tabs_spaces.percent_spaces|floatformat:"1" }}%
          </td>
        </tr>
      </table>
    </div>


    <div class="right-side box">
      <h3>Licenses</h3>
      <ul id="license-graph">
        {% for license in features.license %}
        <li>
          <div class="license" style="width: {{ license|last|floatformat }}%">&nbsp;</div>
          <div class="title">{{ license|first|title }} ({{ license|last|floatformat }}%)</div>
        </li>
        {% endfor %}
      </ul>
      <hr style="clear: left">
    </div>


    <div class="right-side box">
      <h3>Other Languages (Line count)</h3>
      <table width="100%">
        {% for lang in languages %}
          <tr>
            <td width="45%">.{{ lang|first }}</td>
            <td>{{ lang|last|floatformat|intcomma }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>


    <div class="right-side box">
      <h3>Most Profane Projects</h3>
      <ul>
        {% for data in profane %}
          <li>{{ data.score|floatformat:3|slice:'1:' }} &nbsp;
            <a href="/projects/{{ data.repo }}">{{ data.repo }}</a>
          </li>
        {% endfor %}
      </ul>

      <div class="note">Profanity is scored as a ratio of swear words to lines
      of python.</div>
    </div>

  </div>




  <div id="overview-commits" class="left-side box">
    <ul class="pills">
      <li><a id="commits-count">Count</a></li>
      <li><a id="commits-lines">Lines Changed</a></li>
    </ul>

    <h3>Commits</h3>

    <div class="graph-container"></div>
  </div>


  <div id="overview-pyflakes" class="left-side box">
    <ul class="pills">
      <li><a id="pyflakes-total">Total</a></li>
      <li><a id="pyflakes-violations">Violations</a></li>
    </ul>

    <h3>Pyflakes</h3>

    <div class="graph-container"></div>


    <table>
      <thead>
        <tr>
          <th>Violation</th>
          <th>Count</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>


    <script type="text/html" id="tmpl_pyflakes">
      <tr>
        <td><%= name %></td>
        <td class="count">
          <span class="sparkline"><%= history %></span>
          <span class="number"><%= count %></span>
        </td>
      </tr>
    </script>

  </div>


  <div id="overview-pep8" class="left-side box">
    <ul class="pills">
      <li><a id="pep8-total">Total</a></li>
      <li><a id="pep8-violations">Violations</a></li>
    </ul>

    <h3>PEP8</h3>

    <div class="graph-container"></div>


    <table>
      <thead>
        <tr>
          <th>Violation</th>
          <th>Count</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>


    <script type="text/html" id="tmpl_pep8">
      <tr>
        <td><%= name %></td>
        <td class="count">
          <span class="sparkline"><%= history %></span>
          <span class="number"><%= count %></span>
        </td>
      </tr>
    </script>
  </div>


  <div id="overview-swearing" class="left-side box">
    <ul class="pills">
      <li><a id="swearing-total">Total</a></li>
      <li><a id="swearing-words">Words</a></li>
    </ul>

    <h3>Swearing</h3>

    <div class="graph-container"></div>


    <table>
      <thead>
        <tr>
          <th>Word</th>
          <th class="count">Count</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>


    <script type="text/html" id="tmpl_swearing">
      <tr>
        <td><%= word %></td>
        <td class="count">
          <span class="sparkline"><%= history %></span>
          <span class="number"><%= count %></span>
        </td>
      </tr>
    </script>
  </div>


{% endblock %}


{% block js %}{% static_js 'overview' 2 %}{% endblock %}
